body {
  padding-top: 4.5rem;
}

section {
    display: none;
}

#section-intro {
    display: block;
}

#table-staked td {
    width: 50%;
}

#table-totals td ,
#table-rewards td {
    width: 25%;
}

#message-running {
    margin-top: 1em;
    max-height: calc(100vh - 215px);
    overflow: auto;
}